<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <p> <%= ips %> AHORA TENGO TU IP AJAJAJAJAJAJ</p>

    <script src="/javascripts/main.js"></script>
    <script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>
  </body>
</html>
